@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,400;1,500&display=swap');


html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    height: 100%;
    box-sizing: border-box;
}

h1 {
   margin: 0;
   box-sizing: border-box;
}

div {
   margin: 0;
   box-sizing: border-box;
}