html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    font-family: Helvetica;
    height: 100%;
    box-sizing: border-box;
}

h1 {
   margin: 0;
   box-sizing: border-box;
}

div {
   margin: 0;
   box-sizing: border-box;
}